/*----------------------------------------------------------*/
/* same as pure-form.label */
.mylabel {
    margin: 1em 0 0;
    font-weight: bold;
    font-size: 100%;
}

.field-box {
  width = 25%;
  padding: 0.5em;
  position: relative;
}

.myinput {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  height:40px;
  margin-bottom: 1em;
}

/*----------------------------------------------------------*/
/*
Inspired by:
https://content.pivotal.io/blog/showing-and-hiding-conditional-html-without-javascript
 */
/* .conditional {
  display: none;
}

.conditional-checkbox:checked + .conditional {
  display: block;
}

.conditional_form_part {
    display: none;
}

.conditional_form_part_activator:checked + .conditional_form_part {
  display: block;
} */
/*----------------------------------------------------------*/

input + textarea {
    padding: 1em;
    opacity: 0.1;
    transition: 0.5s;
}
input[type=checkbox]:checked + textarea {
    opacity: 1;
}
