<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  <!-- Pure CSS link  -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <!-- Pure CSS Marketing CSS stylesheet -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='marketing.css') }}">

  <!-- My CSS stylesheet -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

  <!-- import plugin script -->
  <script src='../static/Chart.min.js'></script>

</head>

<header>
  {% block header %}{% endblock %}
  <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="{{url_for('index')}}">Nikki's Survey</a>

      <ul class="pure-menu-list">
          <li class="pure-menu-item"><a href="{{url_for('results')}}" class="pure-menu-link">Results</a></li>
          <li class="pure-menu-item"><a href="{{url_for('summary')}}" class="pure-menu-link">Summary</a></li>
      </ul>
  </div>
</header>

<body>
{% block content %}{% endblock %}
</body>
</html>
