<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}{% endblock %}</title>

  <!-- Pure CSS link  -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css">

  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">

  <!-- Pure CSS Marketing CSS stylesheet -->
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='marketing.css') }}">

</head>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% block content %}{% endblock %}
</section>
