{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nikki's Survey{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Welcome to my survey page!</h1>
        <p class="splash-subhead">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        </p>
        <p>
            <a href="{{ url_for('survey') }}" class="pure-button pure-button-primary">Take Survey</a>
            <a href="{{ url_for('decline') }}" class="pure-button pure-button-primary">Decline Survey</a>
        </p>
    </div>
</div>

{% endblock %}
