<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Nikki's Survey</title>

  <!-- Pure CSS link -->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">

  <!--
	  <link rel="stylesheet" href="/docs/foo.css">
  -->

</head>

<body>
  <h1>hello, world</h1>

  <img src="https://media.giphy.com/media/12LJYLv5Uo8CGY/giphy.gif">

  <div id="the-big-div">here is some text</div>

  <div>here is some more text</div>

  <!--

  <input type="text" id="my-text-box">
  <button onclick="hi()">click me</button>

  <script src="foo.js"></script>

  -->

</body>
</html>
