{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nikki's Survey Summary{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Survey Results Summary</h1>
    </div>
</div>

<div class="content-wrapper">
<div class="content">

<!-- TODO: do something with the json array 'data' -->

<h2>Favorite Mood of Music </h2>
<!-- bar chart canvas element -->
<canvas id="chart" width="600" height="400"></canvas>
<script>
   //music mood bar chart
   var barData = {
   labels : [{% for item in mood_labels %}
                  "{{item}}",
              {% endfor %}],
   datasets : [
      {
            fillColor: "rgba(151,187,205,0.2)",
            strokeColor: "rgba(151,187,205,1)",
            pointColor: "rgba(151,187,205,1)",
         data : [{% for item in mood_data %}
                      {{mood_data[item]}},
                    {% endfor %}]
      }
      ]
   }

   // get bar chart canvas
   var mychart = document.getElementById("chart").getContext("2d");

   steps = 10
   max = 10
   // draw bar chart
   new Chart(mychart).Bar(barData, {
        scaleOverride: true,
        scaleSteps: steps,
        scaleStepWidth: Math.ceil(max / steps),
        scaleStartValue: 0,
        scaleShowVerticalLines: true,
        scaleShowGridLines : true,
        barShowStroke : true,
        scaleShowLabels: true
   });

</script>


</div>
</div>

{% endblock %}
