{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nikki's Survey{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Thank you for chosing to take my survey!</h1>
        <p>
            <a href="{{ url_for('index') }}" class="pure-button pure-button-primary">Return to Home</a>
        </p>
      </div>
</div>

<div class = "content-wrapper">
  <div class="content">

      <form class="pure-form pure-g" method="post" action="/people">
      <fieldset>
          <div class="pure-u-1-4">

              <label for="name-input">Name (first last)</label>
              <input class="pure-input-1" id="name-input" name="name" type="text" placeholder="Your name" required minlength="3">

              <label for="color-input">Favorite Color</label>
              <input class="pure-input-1" id="color-input" name="color" type="text" placeholder="Color" required minlength="3">

              <label for="mood-input">Favorite Mood of Music</label>
              <select id="mood-input">
                  <option>dance</option>
                  <option>chill</option>
                  <option>happy</option>
                  <option>slow</option>
                  <option>sad</option>
              </select>

          </div>

      </fieldset>
      </form>

      <form method="post" action="/people">
      <div class="field-box">
      <p><label class="mylabel" for="breed-radios">Favorite Dog Breed:</label></p>

          <div class="checkbox">
          <input type="radio" id="AS" name="breed-radios" value="Australian Shepherd" checked />
          <label for="AS" class="pure-radio">
            Australian Shepherd
          </label>
          </div>

          <div class="checkbox">
          <input type="radio" id="GS" name="breed-radios" value="German Shepherd" />
          <label for="GS" class="pure-radio">
            German Shepherd
          </label>
          </div>

          <div class="checkbox">
          <input type="radio" id="GR" name="breed-radios" value="Golden Retriever" />
          <label for="GR" class="pure-radio">
            Golden Retriever
          </label>
          </div>
      </div>

        <div class="field-box">
          <div class="checkbox">
          <input type="checkbox" id="terms" name="term-checkbox" value="terms" required/>
          <label for="terms" class="pure-checkbox">
            I understand that there are no terms and conditions to this survey.
            <p></p>
          </label>
          <textarea placeholder="Enter a few of your own terms and conditions!"></textarea>
          </div>
        </div>

      </form>

      <!-- <form>
        <div class="field-box">
        <input class="conditional_form_part_activator" type="checkbox" id="terms" name="term-checkbox" value="terms" required>
          I understand that there are no terms and conditions to this survey.

        <div class="conditional_form_part">
            <textarea class="pure-input-1-2" placeholder="Enter a few of your own terms and conditions"></textarea>
        </div>
        </div>
      </form> -->

      <a href="{{ url_for('thanks') }}" class="pure-button">Submit Survey</a>
    </div>
</div>

{% endblock %}
