{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Nikki's Survey{% endblock %}</h1>
{% endblock %}

{% block content %}

<div class="splash-container">
    <div class="splash">
        <h1 class="splash-head">Thank you for chosing to take my survey!</h1>
        <p>
            <a href="{{ url_for('index') }}" class="pure-button pure-button-primary">Return to Home</a>
        </p>
      </div>
</div>

<div class = "content-wrapper">
  <div class="content">

      <form class="pure-form pure-g" method="post" action="/people">
      <fieldset>
          <div class="pure-u-1-4">

              <label for="name-input">Name (first last)</label>
              <input class="pure-input-1" id="name-input" name="name" type="text" placeholder="Your name" required minlength="3">

              <label for="color-input">Favorite Color</label>
              <input class="pure-input-1" id="color-input" name="color" type="text" placeholder="Color" required minlength="3">

              <label for="mood-input">Favorite Mood of Music</label>
              <select id="mood-input">
                  <option>dance</option>
                  <option>chill</option>
                  <option>happy</option>
              </select>

          </div>
      </fieldset>
      </form>

      <form method="post" action="/people">
      <!-- <fieldset> -->
      <p><label for="breed-radios">Favorite Dog Breed:</label></p>

          <div class="checkbox">
          <input type="radio" id="AS" name="breed-radios" value="Australian Shepherd" checked />
          <label for="AS" class="pure-radio">
            Australian Shepherd
          </label>
          </div>

          <div class="checkbox">
          <input type="radio" id="GS" name="breed-radios" value="German Shepherd" />
          <label for="GS" class="pure-radio">
            German Shepherd
          </label>
          </div>

          <div class="checkbox">
          <input type="radio" id="GR" name="breed-radios" value="Golden Retriever" />
          <label for="GR" class="pure-radio">
            Golden Retriever
          </label>
        </div>
      <!-- </fieldset> -->
      </form>

      <a href="{{ url_for('thanks') }}" class="pure-button">Submit Survey</a>
    </div>
</div>

{% endblock %}
